ion-list-header {
    color: var(--ion-color-dark) !important;
    background: var(--app-background-shade) !important;
    margin: 10px 0px 20px 0px !important;
}

ion-label {
    color: var(--ion-color-secondary) !important;
}

ion-input {
    text-align: end !important
}