<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name='home'></ion-icon>
            <ion-label class="tab-title">Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="activity">
            <ion-icon src="./assets/sample-icons/tabs/line-chart.svg"></ion-icon>
            <ion-label class="tab-title">Activity</ion-label>
        </ion-tab-button>
        <!-- <ion-tab-button tab="history" *ngIf='role !== "security"'>
            <ion-icon name='time'></ion-icon>
            <ion-label class="tab-title">History</ion-label>
        </ion-tab-button> -->
        <ion-tab-button tab="emergency">
            <ion-icon src="./assets/sample-icons/tabs/bandage.svg"></ion-icon>
            <ion-label class="tab-title">Emergency</ion-label>
        </ion-tab-button>
        <!-- <ion-tab-button tab="carpooling/home" *ngIf='role !== "security"'>
            <ion-icon name='car'></ion-icon>
            <ion-label class="tab-title">Carpooling</ion-label>
        </ion-tab-button> -->
        <ion-tab-button tab="user">
            <ion-icon src="./assets/sample-icons/tabs/profile.svg"></ion-icon>
            <ion-label class="tab-title">Profile</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>