h3 {
    font-size: 16px !important;
    text-align: center;
    padding: 5px;
    color: var(--ion-color-medium);
}

#import_contact--button {
    position: absolute;
    right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.error-container {
    .error-message {
        margin: calc(var(--page-margin) / 2) 0px;
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 14px;
        ion-icon {
            padding-inline-end: calc(var(--page-margin) / 2);
        }
    }
}